# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)
type(number)

6

int

##### Assinging float

In [5]:
number_float = 6.0
print(number_float)
type(number_float)

6.0

float

#### Performing Calculations on ints and floats

##### Addition

In [15]:
num1 = 2
print(type(num1))
num2 = 6.5
print(type(num2))

output = num1 + num2
print(output)
type(output)

#shorthand
output +=  2  # output = output + 2    ===>  8.5 + 2 = the new output
print(output)

<class 'int'>
<class 'float'>
8.5
10.5

##### Subtraction

In [16]:
output_diff = num2 - num1
print(output_diff)
type(output_diff)

#shorthand
output_diff -= 3 # output_diff = output_diff - 3
print(output_diff)

4.5
1.5

##### Multiplication

In [19]:
num1 = 2

num2 = 6.5

output_mult = num1 * num2
print(output_mult)

#shorthand
output_mult *= 4    # old output_mult value times 4
print(output_mult)

13.0
52.0

##### Division

In [22]:
output_div = num2 / num1
print(output_div)

#shorthand
output_div /= 2 # output_div = output_div / 4
print(output_div)

3.25
1.625

##### Floor Division

In [25]:
# dividing but rounding down

output_floor = num2 // num1
print(output_floor)
type(output_floor)

#shorthand
output_floor //= 2  # output_floor = output_floor // 2
print(output_floor)

3.0
1.0

##### Modulo

In [29]:
num1 = 5

num2 = 13.0
# modulo finds the remainder

output_mod = num2 % num1
print(output_mod)

#shorthand
output_mod %= 2   #output_mod = output_mod % 2
print(output_mod)

3.0
1.0

##### Exponential

In [31]:
square = 5 ** 2
print(square)

#shorthand
square **= 2
print(square)  #square = square ** 2

25
625

### String Input-Output

##### String Assignment

In [32]:
# inputs and outputs

name = "Koki"
print(name)
type(name)

Koki

str

##### print() <br>
<p>Don't forget about end=' '</p>

In [39]:
print('This is my first name: ' ,name, end='\n')
print('Full Name: ', name, end=' Okano')

This is my first name:  Koki
Full Name:  Koki Okano

##### String Concatenation

In [42]:
# to link things together

first_name = 'John'
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

#Shorthand
full_name += " Jr."  # full_name = full_name + " .Jr"
print(full_name)

John Smith
John Smith Jr.

##### Type Conversion

In [48]:
num_str = '32'
print(type(num_str))
num_str_to_int = int(num_str)
64 + num_str_to_int
type(num_str_to_int)

<class 'str'>

int

##### input()

In [56]:
# input function will always return a str
name = input('What is your name')
print(name)

age = int(input("What is your age? "))
your_age_in_5_years = age + 5
print("Your age in 5 years will be: ", your_age_in_5_years)

What is your nameKoki
Koki
What is your age? 24
Your age in 5 years will be:  29

##### format()

In [58]:
age = input("What is your age? ")
result_string = 'You are {}, {}, and you are getting wiser'.format(age, name)
print(result_string)


# f' = formatted string
result_fstring = f'{age} is a great time in life, {name}!!'
print(result_fstring)

What is your age? 24
You are 24, Koki, and you are getting wiser
24 is a great time in life, Koki!!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [66]:
color = input("What is your favorite car's color? ")
year = input("What year is your favorite car? ")
make = input("What is the make of your favorite car? ")
model = input("What is the model of your favorite car? ")

print("\nYour favorite car is a", color, make, model, "made in", year, ".")

What is your favorite car's color? black
What year is your favorite car? 2011
What is the make of your favorite car? nissan
What is the model of your favorite car? altima

Your favorite car is a black nissan altima made in 2011 .

In [68]:
init = input("Do you have a car? (yes/no) ")
if init.lower() == "no" or init.lower() == "yes":
    if init.lower() == "no":
        print("Oof, that's tough")
    else:
        color = input("What is the color of your car? ")
        year = input("What is the year your car was made? ")
        make = input("What is the make of your car? ")
        model = input("What is the model of your car? ")
        result = f"Your car's color is {color}, the make is {make}, the model is {model}, and it was made in {year}."
        print(result)
else:  #if they type something else
    print("Invalid Response")

Do you have a car? (yes/no) yes
What is the color of your car? black
What is the year your car was made? 2011
What is the make of your car? Nissan
What is the model of your car? Altima
Your car's color is black, the make is Nissan, the model is Altima, and it was made in 2011.

### If Statements

In [71]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F       && = and
# T && T = T
# T || F = T       || = or
# F || T = T
# F || F = F

num1 = 5
num2 = 5

if num2 == num1:
    print('Equal Values')
else:
    print('Not Equal')
    
# ----------------------------------------#    
    
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
#you can have multiple checks (if-statements)
else:
    print("they are equal")

Equal Values
they are equal

##### 'is' keyword

In [76]:
# "is" is different from "=="


num3 = 55
num4 = 55

# list1 = [1,2,3,4]
# list2 = [1,2,3,4]
  

if num3 is num4:
    print('num3 is num4')

num3 is num4

##### 'in' keyword

In [82]:
char_name = "Harry Potter"
if "H" in char_name:
    print("The boy who lived..")
    
list1 = [1,2,3,4, 'hello']
if 3 in list1:
    print("3 is in list1")

The boy who lived..
3 is in list1

##### 'not in' keyword'

In [83]:
sega_char = "sonic"
if "a" not in sega_char:
    print("a is NOT in here")

a is NOT in here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [89]:
jumbo = input("Hey, type something: ")
if "p" in jumbo:
    print("Hey, there's a p!")
else:
    print("No p found here")

jumbo2 = input("\nHey, type something: ")
if "p" in jumbo2:
    print("Hey, there's a p!")
else:
    print("No p found here")

Hey, type something: fig
No p found here

Hey, type something: pig
Hey, there's a p!

## Using 'and'/'or' with If Statements

In [97]:
# 0, empty string (''), empty list [], and dictionary/set and False have a truthiness of False.
# all other numbers and non-empty strings/lists/dictionaries, and sets have a truthiness of True.
num1 = 15
num2 = 3
num3 = 10
num4 = 3

# both need to be true because of 'and'
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")    
    
if 5 + 4 == 9 and 6 + 3 == 9:  
    print('here')

#truthiness: seeming to be true, even if it is not true
    
    # first one is false and second one is true
if num1 / 5 == num3 or num3 - 7 == num4:
    print('at least one statement is true')

True and True
here
at least one statement is true

### Elif Statements

In [98]:
first_name = "koki"

if first_name == "John":   # False
    print("the first name is John")
elif first_name != "koki":  # False
    print("the name is not koki")
else:
    print("the name is koki")  # True

the name is koki

### Else Statements

In [ ]:
# see above

### For Loops

In [110]:
name = "Koki Okano"

# for <var_name> in <iterator>:
for letter in name:
    print(letter)
    
# for index in range(len(name)):  #get length of name. range gives a position number to each index
#     print(name[index])

# print(len(name))

# print(range(len(name)))  
# name[1]   # gives letter in index 1

print("===============================\n")

for index in range(len(name)):
    print(index, name[index])

K
o
k
i

O
k
a
n
o
===============================

0 K
1 o
2 k
3 i
4
5 O
6 k
7 a
8 n
9 o

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [112]:
for i in range(10):
    if i == 5:
        continue   #skipped 5:::when it got to 5, the loop went back to start again, but from 6
    print(i)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [114]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [117]:
# could be used to just make the outline of the code, but add some pass to fill in the blank temporarily

for i in range(10):
    if i==5:
        pass   # implement something here
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [119]:
for i in range(3):
    for j in range(3):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2
i=2, j=0
i=2, j=1
i=2, j=2

### While Loops

In [121]:
# runs on a condition

num = 0
while num < 5:
    print(num)
    num += 1 # num = num + 1

0
1
2
3
4

##### Looping 'While True'

In [122]:
game_over = False
while True:
    print("infinite_loop")
    answer = input("Are you done playing? (yes/no)")
    if answer.lower() == "yes":
        break

infinite_loop
Are you done playing? (yes/no)no
infinite_loop
Are you done playing? (yes/no)yes

In [123]:
for num in [0,1,2,3,4]:  #if you know exactly the iteration, then use for loop
    print(num)

0
1
2
3
4

In [124]:
num = 0    # if you don't know the iteration/how long it needs to go, then use a while loop
while num < 5:
    print(num)
    num += 1

0
1
2
3
4

##### While & For Loops Used Together

In [125]:
num = 0
while num < 5:
    print("While loop iteration: ", num)
    
    for i in range(2):
        print("For loop iteration: ", i)
    
    num += 1

While loop iteration:  0
For loop iteration:  0
For loop iteration:  1
While loop iteration:  1
For loop iteration:  0
For loop iteration:  1
While loop iteration:  2
For loop iteration:  0
For loop iteration:  1
While loop iteration:  3
For loop iteration:  0
For loop iteration:  1
While loop iteration:  4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [128]:
# syntax for range(start, stop, step)
# start and step are optional

for i in range(1,8,2):
    print (i)

1
3
5
7

##### len()

In [129]:
name = "koki"
length = len(name)
print(length)

4

##### help()

In [135]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [139]:
age = "4.0"
print(isinstance(age,str))

True

##### abs()

In [142]:
abs(-5)

5

### Try and Except

In [ ]:
# FOR CATCHING ERROR MESSAGES.

while True:
    try:
        number_test = 6
        input_num = int(input("Guess a number between 1-10: "))
        if input_num != number_test:
            print("You guessed incorrectly")
        else:
            print("Correct!")
            break
    except SyntaxError:
        pass
        print("syntaxerror")
    except ValueError:
        pass
        print("value error")
    except:
        print("other error")

Guess a number between 1-10: hi
value error
Guess a number between 1-10: @
value error
Guess a number between 1-10: 11
You guessed incorrectly
Guess a number between 1-10: ten
value error
other error
other error
other error

### Lists

##### Declaring Lists

In [24]:
l1 = []
type(l1)
names = ["Jerry", "Jerry", "Shoha", "Koki", "Olivia", "Young", "Peter", "Dan", "Chien"]
print(names)

['Jerry', 'Jerry', 'Shoha', 'Koki', 'Olivia', 'Young', 'Peter', 'Dan', 'Chien']

##### Indexing a List

In [14]:
print(names[3])

#list slicing--grabbing a slice of the list
print(names[1:5])
print(names[1:7:2])

Koki
['Jerry', 'Shoha', 'Koki', 'Olivia']
['Jerry', 'Koki', 'Young']

##### .append()

In [25]:
names.append("new_student")
print(names)

['Jerry', 'Jerry', 'Shoha', 'Koki', 'Olivia', 'Young', 'Peter', 'Dan', 'Chien', 'new_student']

##### .insert()

In [26]:
names.insert(3, "Ivan")
print(names)

['Jerry', 'Jerry', 'Shoha', 'Ivan', 'Koki', 'Olivia', 'Young', 'Peter', 'Dan', 'Chien', 'new_student']

##### .pop()

In [30]:
popped_student1 = names.pop()
print(names)
print(popped_student1)

names.pop(3)
print(names)

['Jerry', 'Jerry', 'Shoha', 'Ivan', 'Koki', 'Olivia', 'Young', 'Peter']
Dan
['Jerry', 'Jerry', 'Shoha', 'Koki', 'Olivia', 'Young', 'Peter']


##### .remove()

In [34]:
new_list = ["bob", "mary", "bernard", "bob"]
new_list.remove("bob")
print(new_list)

['mary', 'bernard', 'bob']

In [35]:
new_list2 = ["bob", "mary", "bernard", "bob"]
while "bob" in new_list2:
    new_list2.remove("bob")
    print(new_list2)

['mary', 'bernard', 'bob']
['mary', 'bernard']

##### del()

In [41]:
# index to be removed, not the value
# be careful while using del, because it can cause indexing errors if not used correctly

new_names = ["bob", "mary", "bernard", "bob"]

del(new_names[0])
print(new_names)

#THIS CODE CAUSES INDEX ERROR
# for i in range(len(new_names)):
#     print(new_names)
#     del(new_names[i])

['mary', 'bernard', 'bob']

##### Concatenating Two Lists

In [42]:
l2 = [0,1,2]
l3 = [3,4,5]

big_list = l2 + l3
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [49]:
names = ["Shoha", "Ivan", "Shinha", ["Jerry", "Koki", "Young"]]
print(names[2])
print(names[3])
print(names[3][1])

Shinha
['Jerry', 'Koki', 'Young']
Koki

##### Looping Through Lists

In [55]:
names = ["Shoha", "Ivan", "Shinha", "Jerry", "Koki", "Young"]

# for name in names:
#     print(name)
    
for i in range(len(names)):
    if isinstance(names[i], list):
        for name in name[i]:
            print(name)
    else:
        print(names[i])

Shoha
Ivan
Shinha
Jerry
Koki
Young

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [69]:
numbers = [1,2,3,4,5,6,7,8,9,10]
cube =[]
for i in numbers:
    cube.append(i*i*i)
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

first = 2
last = 100

for i in range(first, last):
    if i > 1:
        for x in range(2, i):
            if (i % x == 0):
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [62]:
question = input("Please enter age to determine ticket price: ")
age = int(question)
if age < 18:
    print("Pricing will be for kids.")
elif age < 65:
    print("Pricing will be for adults.")
else:
    print("Pricing will be for seniors.")

Please enter age to determine ticket price: 3
Pricing will be for kids.